server {
    listen      {{ item.port | default(80) }};
    server_name {{ item.host }};
    root        {{ item.path }};

    location / {
        try_files $uri /app.php$is_args$args;
    }

    location ~ ^/app\.php(/|$) {
        fastcgi_pass             {{ item.pass | default('unix:/var/run/php5-fpm.sock') }};
        fastcgi_split_path_info  ^(.+\.php)(/.*)$;
        include                  fastcgi_params;
        fastcgi_param            SCRIPT_FILENAME $document_root$fastcgi_script_name;

        fastcgi_buffer_size        128k;
        fastcgi_buffers            4 256k;
        fastcgi_busy_buffers_size  256k;
    }

    location ~ /\.ht {
        deny all;
    }
}
