server {
    listen      {{ item.port | default(80) }} {% if item.ssl | default(false) %}ssl{% endif %};
    server_name {{ item.host }};
    root        {{ item.path }}{{ item.target }};

    {% if item.ssl | default(false) %}
        ssl_certificate     /etc/nginx/ssl/{{ item.host }}.crt;
        ssl_certificate_key /etc/nginx/ssl/{{ item.host }}.key;
    {% endif %}

    location / {
        try_files $uri /app.php$is_args$args;
    }

    location ~ ^/app\.php(/|$) {
        fastcgi_pass             {{ item.pass | default('unix:/var/run/php5-fpm.sock') }};
        fastcgi_split_path_info  ^(.+\.php)(/.*)$;
        include                  fastcgi_params;
        fastcgi_param            SCRIPT_FILENAME $document_root$fastcgi_script_name;

        internal;

        fastcgi_buffer_size        128k;
        fastcgi_buffers            4 256k;
        fastcgi_busy_buffers_size  256k;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico|swf|woff)$ {
        expires       1y;
        log_not_found off;
    }
}
{% for alias in item.aliases | default([]) %}

server {
    listen      80;
    server_name {{ alias }};
    return      301 http{% if item.ssl | default(false) %}s{% endif %}://{{ item.host }}$request_uri;
}
{% endfor %}
