[www]

user  = {{ php_user }}
group = {{ php_user }}

listen       = /var/run/php5-fpm.sock
listen.owner = {{ php_user }}
listen.group = {{ php_user }}

pm                   = dynamic
pm.max_children      = 5
pm.start_servers     = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

clear_env = no
